/**
	Firefox Material Design 2 for Yaru
	(version 0.3)

	Created by Rafael Belenos (tw @belenos)
**/

/* Tab bar */

#TabsToolbar {
 	padding-left: 18px !important;
}

#nav-bar {
	box-shadow: none !important;
	padding: 0 8px !important;
}

/* Address bar */

#urlbar-container {
	padding: 0 8px !important;
}

#urlbar {
	height: 28px !important;
	background-color: #eef2f3 !important;
	border-radius: 20px !important;
	border-color: #eef2f3 !important;
	border-style: solid !important;
	border-width: 2px !important;
	margin: 6px 0 !important;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
	-moz-transition:.6s;
	transition:.6s;
}

#urlbar:hover {
	background-color: #e7e9ec !important;
	border-color: #e7e9ec !important;
}

#urlbar[focused=true] {
	border-color: #b5d4f1 !important;
	background-color: #ffffff !important;
}

#identity-box:hover {
  background-color: transparent !important;
}

/* Page action buttons hidden until mouse over */

#page-action-buttons:not(:hover) {
	border-left: 12px solid transparent;
	width: 0 !important;
	overflow-x: hidden;
	background-color: transparent !important;
}

#page-action-buttons:hover {
	width: auto !important;
	border-left-width: 0 !important;
	background-color: transparent !important;
}

.urlbar-icon,
.urlbar-icon-wrapper ,
.urlbar-history-dropmarker {
	opacity: 0.4 !important;
}

.urlbar-icon:hover,
.urlbar-history-dropmarker:hover,
.urlbar-icon-wrapper:hover {
	opacity: 1 !important;
}

.urlbar-history-dropmarker,
.urlbar-history-dropmarker:hover,
.urlbar-icon,
.urlbar-icon:hover,
.urlbar-icon-wrapper,
.urlbar-icon-wrapper:hover {
	background-color: transparent !important;
}

/* Tab structure and lower layer */

.tabbrowser-tab {
	margin: 0 1px !important;
	padding: 0 !important;
}

/* Middle layer */

.tabbrowser-tab .tab-stack {
	border-radius: 8px 8px 0 0 !important;
}

.tabbrowser-tab .tab-stack:hover {
	background: #353333 !important;
}

/* Layer right before content, used as content background. Leave it transparent */

.tabbrowser-tab .tab-background {
	border: 0 !important;
	border-radius: 8px 8px 0 0 !important;
}

/* Content area in every tab. Leave it transparent */

.tab-content {
	padding: 4px 14px 2px !important;
}

/* Container Tab */

.tabbrowser-tab[usercontextid] {
	background-color: none !important;
}

/* Buttons */

.tab-close-button {
	width: 16px !important;
	height: 16px !important;
	border-radius: 50% !important;
	font-weight: bold !important;
}

:-moz-any( .tabs-newtab-button, #new-tab-button,#alltabs-button) .toolbarbutton-icon {
	backgroud-color: #d3d4d7 !important;
	width: 24px !important;
	height: 24px !important;
	border-radius: 50% !important;
	margin: 0 8px !important;
	-moz-transition:.6s;
	transition:.6s;
}

.toolbarbutton-icon,
.toolbarbutton-badge,
.toolbarbutton-badge-stack {
	background-color: none !important;
	border-radius: 12px !important;
	-moz-transition: .5s;
	filter: grayscale(80%) !important; /* Grey add-on icons. Delete this line if you want to display the original colors */
}

.tabs-container .tabs-newtab-button {
	display: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tab-bottom-line,
.tab-top-line,
.tab-line, .tab-line[selected] {
	display: none !important;
}

.tab-loading-burst {
	visibility: hidden;
}

